<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget posts">
								<!-- Title -->
								<h2>Announcements</h2>

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
								
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">Sign Up for USM COS 470 - Special Topics: Computer Security</a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">Enroll TOday: Cybersecurity Fall 2014 Course Offerings from MCSC and Partners</a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									<!--
									<div class="img-column">
										<a href="blog-post.html" class="image-link mini"><img alt="" src="images/placeholders/placeholder-mini.jpg" class="fullwidth"/></a>
									</div>
									-->
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html"></a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->