
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- Top Bar - Set "white" or "dark" below -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="topbar-outer dark">
        <div class="topbar content-width">

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <div class="table fullheight">
            <div class="table-cell fullheight middle">
              <div class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
              
            </div>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Logo -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <ul class="topnav">
              {% for page in site.pages %}
                 {% if page.title %}
                   <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- END Main Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
          <!-- Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <a href="#" class="mobilenav-click">
          <div class="mobilenav-button-container">
            <div class="mobilenav-button-inner">
              <div class="mobilenav-button"></div>
            </div>
          </div>
          </a>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Show/Hide Menu Button -->
          <!-- ~~~~~~~~~~~~~~~~~ -->

          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- Navigation Menu (Populated using jQuery) -->
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <div class="mobilenav-container">
            <ul class="mobilenav">
            </ul>
          </div>
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Navigation Menu
          <!-- ~~~~~~~~~~~~~~~~~ -->
          <!-- END Mobile Navigation -->
          <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        </div>
      </div>
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!-- END Top Bar -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->





