<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget posts">
								<!-- Title -->
								<h3>Popular Posts</h3>

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									<div class="img-column">
										<a href="blog-post.html" class="image-link mini"><img alt="" src="images/placeholders/placeholder-mini.jpg" class="fullwidth"/></a>
									</div>
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">Lorem Ipsum is simply dummy text of the printing</a></h3>
										<!-- Date -->
										<div class="date">14 December 2011</div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									<div class="img-column">
										<a href="blog-post.html" class="image-link mini"><img alt="" src="images/placeholders/placeholder-mini.jpg" class="fullwidth"/></a>
									</div>
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">Super awesome blog page title</a></h3>
										<!-- Date -->
										<div class="date">14 December 2011</div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									<div class="img-column">
										<a href="blog-post.html" class="image-link mini"><img alt="" src="images/placeholders/placeholder-mini.jpg" class="fullwidth"/></a>
									</div>
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">The standard chunk of Lorem Ipsum used since...</a></h3>
										<!-- Date -->
										<div class="date">14 December 2011</div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->