<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<div class="sidebar-widget posts">
								<!-- Title -->
								<h2>Upcoming Events</h2>

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">MCSC Ribbon Cutting
											August 26, 2014, 2:00-4:00PM</a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">MCSC Maine Business Cyber Conference
											October 17, 2014, 8:00-3:30PM</a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<div class="post">
									<!-- Image Column -->
									
									<!-- Content Column -->
									<div class="content-column">
										<!-- Post Title -->
										<h3 class="sub-title"><a href="blog-post.html">Technology Career Fair & Project Login Reception
											November 6, 2014</a></h3>
										<!-- Date -->
										<div class="date"></div>
									</div>
								</div>
								<!-- ~~~~~~~~~~~~~~~~~ -->
								<!-- END Post -->
								<!-- ~~~~~~~~~~~~~~~~~ -->

							</div>
							<!-- ~~~~~~~~~~~~~~~~~ -->
							<!-- END Popular Posts -->
							<!-- ~~~~~~~~~~~~~~~~~ -->